{% extends 'base.html' %}

{% block content %}
  {% block navbar %}
    {% include 'navbar.html' %}
  {% endblock navbar %}

  {% if user.is_authenticated %}
    <h1>Hello {{ user }}, here you can register your workout sessions!</h1>

    <p>Your current workouts:</p>
    <ul>
      {% for workout in workouts %}
        <li>
          <a href="{% url 'register_workout_detail' workout.id %}">
            View details {{ workout }}
          </a>
        </li>
      {% endfor %}
    </ul>

    <h2>Register Workout</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="Submit">Register workout</button>
    </form>
  {% endif %}

  {% block footer %}
    {% include 'footer.html' %}
  {% endblock footer %}
{% endblock content %}
