{% extends 'base.html' %}

{% block content %}
  {% block navbar %}
    {% include 'navbar.html' %}
  {% endblock navbar %}

  <h1>Register Workout Details</h1>
  <ul>
    <li><strong>Exercise:</strong> {{ workout.exercise.name }}</li>
    <li><strong>Session:</strong> {{ workout.session }}</li>
    <li><strong>Weight:</strong> {{ workout.weight }}</li>
    <li><strong>Series:</strong> {{ workout.series }}</li>
    <li><strong>Repetitions:</strong> {{ workout.repetitions }}</li>
  </ul>

  <form action="{% url 'register_workout_delete' registerworkout_id=workout.id %}" method="post">
    {% csrf_token %}
    <button type="submit">Delete</button>
  </form>

  {% block footer %}
    {% include 'footer.html' %}
  {% endblock footer %}
{% endblock content %}
