{% extends 'base.html' %}

{% block content %}
  {% block navbar %}
    {% include 'navbar.html' %}
  {% endblock navbar %}

  <h1>Exercises list</h1>

  <ul>
    {% for exercise in exercises %}
      <li>
        <p>{{exercise}}</p>

        <img src="{{exercise.image.url}}" alt="{{exercise.image.url}}" width="200px">

        <a href="{{ exercise.video }}" target="_blank">Video demostration for {{ exercise }}</a>
      </li>
    {% endfor %}
  </ul>

  {% block footer %}
    {% include 'footer.html' %}
  {% endblock footer %}
{% endblock content %}
